.footer {
    font-family: 'poppins';
    padding: 40px 70px;
    background-color: #f5f5f5;
    color: #474f52;

    .footer-bottom {
        position: relative;
        overflow: hidden;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .footer-bottom a {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 2px;
        font-size: 20px;
        color: #474f52;
        text-align: center;
        line-height: 35px;
    }

    .footer-title {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .rights {
        float: right;
        transform: translate(0, 8px);
    }

    .sosmed {
        float: left;
    }

    .line-footer {
        width: 60px;
        height: 60px;
        border-bottom: 3px solid #474f52;
        position: absolute;
    }

    @media (max-width: 992px) {
        .footer {
            padding: 40px 30px 70px 30px;
        }

        .footer-bottom {
            text-align: center;
        }

        .footer-title {
            transform: none;
            position: initial;
        }

        .rights {
            float: none;
        }
    }
}
